<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar class="toolbar mat-elevation" color="primary" gutterSize="0">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="padding-right: 5px; padding-left: 12px;">Yourdev Web Development</span>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
  
  </mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over">
        <mat-nav-list style="padding-top:65px;">
            <a routerLink="/" routerLinkActive="true" (click)="sidenav.toggle()" mat-list-item><mat-icon class="nav-icon" matListIcon>home</mat-icon>Home</a>
            <a routerLink="/services" routerLinkActive="true" (click)="sidenav.toggle()" mat-list-item><mat-icon class="nav-icon" matListIcon>build</mat-icon>Services</a>
            <a routerLink="/contact/query" routerLinkActive="true" (click)="sidenav.toggle()" mat-list-item><mat-icon class="nav-icon" matListIcon>mail</mat-icon>Contact</a>
            <a routerLink="/contact/get-started" routerLinkActive="true" (click)="sidenav.toggle()" mat-list-item><mat-icon class="nav-icon" matListIcon>directions</mat-icon>Get Started</a>
        </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>

        <mat-grid-list cols="1" rowHeight="200px" style="margin-top: 56px;">
            <mat-grid-tile class="main-tile">
                <img src="../assets/logo.png">
            </mat-grid-tile>
        </mat-grid-list>
        <nav mat-tab-nav-bar>
            <a mat-tab-link [routerLinkActiveOptions]="{exact: true}"
                *ngFor="let link of navLinks"
                [routerLink]="link.path"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
            {{link.label}}    
            </a>           
          </nav>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>











