<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar class="toolbar mat-elevation" color="primary" gutterSize="0">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="padding-right: 5px; padding-left: 12px;">Yourdev Web Development</span>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
  
  </mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over">
        <mat-nav-list style="padding-top:65px;">
            
            <a href="/" mat-list-item> Home </a>
            <a href="#0" mat-list-item> Get Started </a>
            <a href="#0" mat-list-item> Portfolio </a>
        </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>

        <mat-grid-list cols="1" rowHeight="200px" style="margin-top: 56px;">
            <mat-grid-tile class="main-tile">
                <img src="../assets/logo.png">
            </mat-grid-tile>
        </mat-grid-list>
        <mat-tab-group>
          <mat-tab label="Home"><app-home></app-home></mat-tab>
          <mat-tab label="Services"><app-services></app-services></mat-tab>
          <mat-tab label="Contact"><app-contact></app-contact></mat-tab>
        
        </mat-tab-group>
    </mat-sidenav-content>
  </mat-sidenav-container>











