<div class="row">
  <div class="col-12" style="height: 281px;">
    <mat-card class="card-background-image" style="background: url('../assets/images/agreement-2286439_1920.jpg') center / cover;">
      <mat-card-content></mat-card-content>
      <mat-card-footer class="tint-background">
        <h2>Our Services</h2>
        <p>We are here to help you every step of the way.</p>
        <p>Get on the web with Yourdev.</p>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-4 row-card-height">
    <mat-card height="100%">
      <mat-card-title style="color: #009688">Websites</mat-card-title>
      <mat-card-content>
        <p>Yourdev will host, maintain and update your website.</p>
        <p>We also implement simple self maintanence through an</p>
        <p>A customized layout that can be easily updated.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4 row-card-height">
      <mat-card height="100%">
        <mat-card-title style="color: #009688">Domain Registration</mat-card-title>
        <mat-card-content>
          <p>We will help you through the process of registering your domain for your website and emails.</p>
          <p>It is far more professional to use your company name for your websites domain and emails.</p>
          <p>example : info@yourdev.co.za, www.yourdev.co.za</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4 row-card-height">
        <mat-card height="100%">
          <mat-card-title style="color: #009688">Functionality</mat-card-title>
          <mat-card-content>
            <p>Your website plays a big part communicating to clients online efficiently with no delay and quick response.</p>
            <p>We break the communication barrier between client and company to get all the information they need from your company and their information to you.</p>
          </mat-card-content>
        </mat-card>
      </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="col-4 center-content">
      <img src="../assets/icons/ic_touch_app_black_48dp_2x.png" alt="touch">
    </div>
    <div class="col-8">
      <p>Get a website that actually does something. Features for your bussines and your clients to communicate with.</p>
    </div>
  </div>
  <div class="col-6">
      <div class="col-4 center-content">
        <img src="../assets/icons/ic_shopping_cart_black_48dp_2x.png" alt="touch">
      </div>
      <div class="col-8">
        <p>Need a gateway to sell your products. We will provide you with a web application that can sell!.</p>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
      <div class="col-4 center-content">
        <img src="../assets/icons/ic_update_black_48dp_2x.png" alt="touch">
      </div>
      <div class="col-8">
        <p>Need an upgrade? If you have an old webiste that is outdated and missing todays standards we will upgrade it for you.</p>
      </div>
    </div>
    <div class="col-6">
        <div class="col-4 center-content">
          <img src="../assets/icons/ic_person_pin_black_48dp_2x.png" alt="touch">
        </div>
        <div class="col-8">
          <p>Communication is key. Why not have a personal connection with the developer? With Yourdev that's the only way we know how.</p>
        </div>
      </div>
  </div>