<div class="row">
  <div class="col-12">
      <mat-card>
          <mat-card-title style="color: #009688">
            Welcome to Yourdev
          </mat-card-title>
    
          <mat-card-content>
            <p>Are you looking for more than just a Website?</p>
            <p>Then you have come to the right place! We develop user friendly Web Applications for businesses who need more than just the typical website.</p>
          </mat-card-content>
    
        </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-6" style="height: 281px;">
    <mat-card style="height: 100%;">
      <mat-card-title style="color: #009688">
        About
      </mat-card-title>
      <mat-card-content>
        <p><b>Yourdev</b> focuses on simplicity for the end user and the websites administrator.
          Our ideal targets are <u><i>small to medium businesses</i></u> that need their image on the web,
          whether it's to market their <i>services</i>, <i>events</i>, <i>products</i>...</p>
          <p>We are in a world of information technology where every bit of data counts. <b>Get started now with Yourdev!</b></p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6" style="height: 281px;">
    <mat-card class="card-background-image" style="background: url('../assets/images/hand-895592_1920.jpg') center / cover;">
      <mat-card-content>
        
      </mat-card-content>
      <mat-card-actions >
        <a href="#0" mat-raised-button color="primary" style="margin-top: 150px; margin-left: 15px;">GET STARTED</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12" style="height: 281px;">
    <mat-card class="card-background-image" style="background: url('../assets/images/entrepreneur-593378_1920.jpg') center / cover;">
      <mat-card-content></mat-card-content>
      <mat-card-footer class="tint-background">
        <h2>How does it work?</h2>
        <h3>In just a few steps we'll be in touch!</h3>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-6 group-card-height">
    <mat-card>
      
      <mat-card-title class="header-image">
          <img src="../assets/icons/ic_link_white_48dp_2x.png">
      </mat-card-title>

      <mat-card-title>
        Navigate To The Get Started Page
      </mat-card-title>

      <mat-card-content>
          On this page you will fill in a quick and simple form to describe your business and what type of website your business needs.
      </mat-card-content>

      <mat-card-actions>
        <a href="#0" mat-raised-button color="primary" style="margin-left: 15px;">GET STARTED</a>
      </mat-card-actions>

    </mat-card>
  </div>
  <div class="col-6 group-card-height">
    <mat-card>
      <mat-card-title class="header-image">
          <img src="../assets/icons/ic_assignment_white_48dp_2x.png">
      </mat-card-title>

      <mat-card-title>
        Complete And Submit The Form
      </mat-card-title>

      <mat-card-content>
        Once the form is submitted you will recieve a quotation evaluated on the scale of your websites needs.
      </mat-card-content>
      
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-6 group-card-height">
    <mat-card>
      <mat-card-title class="header-image">
          <img src="../assets/icons/ic_forum_white_48dp_2x.png">
      </mat-card-title>

      <mat-card-title>
        Contact The Developer
      </mat-card-title>

      <mat-card-content>
          Recieve the contact details of the developer. Meet in person, chat over email, skype or a friendly phone call.
      </mat-card-content>
      
    </mat-card>
  </div>
  <div class="col-6 group-card-height">
    <mat-card>
      <mat-card-title class="header-image">
          <img src="../assets/icons/ic_web_white_48dp_2x.png">
      </mat-card-title>

      <mat-card-title>
        Your New Website
      </mat-card-title>

      <mat-card-content>
          Recieve the details of your new website and get to know how your Website/ Web Application works.
      </mat-card-content>
      
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12" style="height: 281px;">
    <mat-card class="card-background-image" style="background: url('../assets/images/office-1209640_1920.jpg') center / cover;">
      <mat-card-content></mat-card-content>
      <mat-card-footer class="tint-background">
        <h2>How does it work?</h2>
        <h3>In just a few steps we'll be in touch!</h3>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-6 card-height-long">
      <mat-card style="height: 100%;">
        <mat-card-title style="color: #009688">
            Standard Websites
        </mat-card-title>
        <mat-card-content>
          <p>If you visit the site for your local restaurant and find nothing more than the hours of operation, a menu, directions from the nearest highway</p>
          <p>or a static map, and contact information listed then you’ve got yourself a <b>Standard Website</b>.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6 card-height-long">
      <mat-card style="height: 100%;">
        <mat-card-title style="color: #009688">
            Web Applications
        </mat-card-title>
        <mat-card-content>
          <p>However, if you went out and visited a website that had all the “static” information and then additional functionality such as being able to make a reservation,</p>
          <p>view a customized menu that includes prices at your local store, order your food online, or purchase a gift card. This sort of interactivity is specific to a <b>Web Application</b> and is what differentiates it from a <b>Standard Website</b>. Put simply, a web application is a website that the user can control.</p>
        </mat-card-content>
      </mat-card>
    </div>
</div>

